/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {

  padding: 150px;	
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

a { 
	color: #fff;
	text-decoration: none;

}

img {

margin-left: auto;
margin-right: auto;


}

/* ================================= 
  Navbar
==================================== */


.navbar-default {
    background-color: #fff;

}

 .nav.navbar-nav.navbar-right li a {
    color: #fff;
    padding-top: 30px;
    font-size: 18px; 
   
}

.navbar-inverse .navbar-brand {
    color: #fff;
    
}

.navbar-brand {
	padding-top: 30px;
	font-size: 40px;

}

.navbar-inverse {
background-image: none;
background-color: #E0007B;

}

.navbar {
  margin-bottom: 0px;
  padding: 40px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  border:none;
}

.navbar-brand small {
  display:block;
  font-size: 17px;
  padding-top: 20px;
}

/* ================================= 
  Layout Containers
==================================== */

.icon-bar {
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #fff;
}

.down-button {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

}

.down-button i {
  color: #fff;

}

.top-buffer 

{ margin-top:20px; }



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.content-filler {
    min-height: 450px;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
  .fixed-attachment {
    background-attachment: scroll;

  }

}

/* ================================= 
  Styles footer
==================================== */
footer {
   text-align: center;
   padding:1em 0;
   color:#000;
   margin-top: 20px;
   font-size: 15px;
  
}


/* ================================= 
  Media queries
==================================== */




