/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {

  position: relative;
  padding-top: 110px;	
  margin-bottom: 60px;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 200;

}


html,
body {
    height: 100%;
    
}

aside {

  padding-top: 60px;
  

}

.portret-img {

        width: 100%;
        height: 100%;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 8px;
        
    
}

html,
body {
    height: 100%;
}

a { 
	color: #000;
	text-decoration: none;

}

.brand-heading {
    font-size: 120px;
    color: #000;
    letter-spacing: 3px;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

/* ================================= 
  Navbar
==================================== */


.navbar-default {
    background-color: #E0007B;

}

 .nav.navbar-nav.navbar-right li a {
    color: #fff;
    padding-top: 30px;
    font-size: 18px; 
   
}

.navbar-inverse .navbar-brand {
    color: #fff;
    
}

.navbar-brand {
	padding-top: 30px;
	font-size: 40px;

}

.navbar-inverse {
background-image: none;
background-color: #E0007B;

}

.navbar {
  margin-bottom: 0px;
  padding: 40px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border:none;
}

.navbar-brand small {
  display:block;
  font-size: 17px;
  padding-top: 20px;
}

.dropdown-menu {
  background-color: #fff;
  padding-top: 30px;
  font-size: 18px; 
}

.dropdown-menu>li>a {
  color: #E0007B;

}
/* ================================= 
  Layout Containers
==================================== */

.icon-bar {
    display:block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    border: 1px solid #fff;
}

.down-button {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

}

.down-button i {
  color: #fff;

}

.top-buffer { 

  margin-top: 20px; 

}

img .pastedgraphic {
  border-radius: 50%;

}


#therapie {
padding-bottom: 50px;

}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.content-filler {
    min-height: 450px;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
  .fixed-attachment {
    background-attachment: scroll;

  }

}

/* ================================= 
  Styles footer
==================================== */
footer {
   text-align: center;
   padding:1em 0;
   background-color: #E0007B;
   margin-top: 20px;
   font-size: 15px;
  
}






  
/* ================================= 
  Media queries
==================================== */

